* {
  padding: O;
  margin: O;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(circle,
      #0064f9,
      #314bca,
      #36349e,
      #301f75,
      #240c4f);
}

.container-form {
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 1px 5px 23px 1px rgba(255, 255, 255, 0.1);
  width: 900px;
  height: 540px;
  display: flex;
}

@media (max-width: 800px) {
  .container-form {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0rem;
  }
}

.info {
  width: 60%;
  display: flex;
  align-items: start;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
}

@media (max-width: 800px) {
  .info {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }
}

.info-childs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

.info-childs h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d228f;
}


.btn {
  border-radius: 20px;
}

.form-peso {
  width: 40%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(0, 0, 0, 0.099);
}

@media (max-width: 800px) {
  .form-peso {
    height: auto;
    width: auto;
  }
}

.form-peso-childs {
  padding: 1rem;
  width: 85%;
}

.form-peso-childs h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

@media (max-width: 800px) {
  .form-peso-childs h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: 1rem;

  }
}

#under-30-info {
  display: none;
}

#over-30-info {
  display: none;
}

.alert {
  font-weight: 600;
}

.table {
  margin-bottom: 0px !important;
}

.info-onload {
  display: flex;
  align-items: center;
  height: 30vh;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .info-onload {
    flex-direction: column;
    height: auto;
    width: auto;
    margin-top: 0.5rem;
  }
}

.check {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 12px;
}