* {
  padding: O;
  margin: O;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(circle,
      #0064f9,
      #314bca,
      #36349e,
      #301f75,
      #240c4f);
}

.container-form {
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 1px 5px 23px 1px rgba(255, 255, 255, 0.1);
  width: 900px;
  height: 510px;
  display: flex;
}

.info {
  width: 60%;
  display: flex;
  align-items: start;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.info-childs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
}

.info-childs h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d228f;
}

.btn {
  border-radius: 20px;
}

.form-peso {
  width: 40%;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  background-color: rgba(0, 0, 0, 0.099);
}

.form-peso-childs {
  padding: 1rem;
  width: 85%;
}

.form-peso-childs h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.btn-success {
  background-image: linear-gradient(to left top,
      #153a72,
      #0c3986,
      #183698,
      #302fa7,
      #4c20b3);
  border: none;
  font-weight: 500;
}

#under-30-info {
  display: none;
}

#over-30-info {
  display: none;
}

.alert {
  font-weight: 600;
}

.table {
  margin-bottom: 0px !important;
}

.info-onload {
  display: flex;
  align-items: center;
  height: 30vh;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 2rem;
}